services:  # Servisler (Konteynerler) dizimi

  # 1-servis: Maǵlıwmatlar bazası (PostgreSQL)
  db:
    image: postgres:17-alpine  # Rásmiy, jeńil PostgreSQL
    volumes:
      - postgres_data:/var/lib/postgresql/data/  # Maǵlıwmatlardı saqlaw (Persistency)
    env_file:
      - .env

  # 2-servis: Biziń Django joybarımız
  web:
    build: .  # Dockerfile-di usı papkadan izle hám qur
    command: python manage.py runserver 0.0.0.0:8000  # Islep shıǵıw ushın
    # Real deployda: command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app  # Kodtı jańalaw (Hot-reload) ushın
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    expose:
      - 8000
    depends_on:
      - db  # Baza iske túspesten, Django iske túspewi kerek
    env_file:
      - .env
      
  nginx:
    image: nginx:1.25-alpine # Jeńil Nginx versiyası
    ports:
      - "80:80" # Sırtqı 80 porttı ishki 80 ge jalǵaw
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf # Sazlaw faylın ornatıw
      - static_volume:/home/app/web/staticfiles # Django jıynaǵan fayllardı oqıw
      - media_volume:/home/app/web/media
    depends_on:
      - web # Django iske túskennen keyin Nginx iske tússin


volumes:
  postgres_data:  # Baza maǵlıwmatları saqlanatuǵın orın
  static_volume:
  media_volume: