services:
  db:
    image: postgres:17-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    expose:
      - 8000
    depends_on:
      - db
    env_file:
      - .env
      
  nginx:
    image: nginx:1.25-alpine
    ports:
      - "80:80"
      # - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/home/app/web/staticfiles
      - media_volume:/home/app/web/media
      # - certbot_conf:/etc/letsencrypt
      # - certbot_www:/var/www/certbot
    depends_on:
      - web

  # certbot:
  #   image: certbot/certbot
  #   volumes:
  #     - certbot_conf:/etc/letsencrypt
  #     - certbot_www:/var/www/certbot

volumes:
  postgres_data:
  static_volume:
  media_volume:
  # certbot_conf:
  # certbot_www: