services:  # Servisler (Konteynerler) dizimi

  # 1-servis: Maǵlıwmatlar bazası (PostgreSQL)
  db:
    image: postgres:17-alpine  # Rásmiy, jeńil PostgreSQL
    volumes:
      - postgres_data:/var/lib/postgresql/data/  # Maǵlıwmatlardı saqlaw (Persistency)
    env_file:
      - .env
    ports:
      - "5432:5432" # Kompyuterden bazaǵa kiriw ushın (optional)

  # 2-servis: Biziń Django joybarımız
  web:
    build: .  # Dockerfile-di usı papkadan izle hám qur
    command: python manage.py runserver 0.0.0.0:8000  # Islep shıǵıw ushın
    # Real deployda: command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app  # Kodtı jańalaw (Hot-reload) ushın
      - static_volume:/app/staticfiles
    ports:
      - "8000:8000"  # Brauzerden kiriw ushın
    depends_on:
      - db  # Baza iske túspesten, Django iske túspewi kerek
    env_file:
      - .env


volumes:
  postgres_data:  # Baza maǵlıwmatları saqlanatuǵın orın
  static_volume: